---

---
<html>
	<head>
		<title> {{ title }}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{excerpt}}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
		<link rel="stylesheet" href="/main.css" />

<style> 

.blogwrapper {
	margin-top: 20rem;
}

.blogwrapper	.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 20rem;
    flex-direction: row; /* Default flex-direction */
	/* margin-bottom: 15rem; */
}

.blogwrapper .container div {
    margin-right: 2%;
}

.blogwrapper .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blogwrapper .image {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 40%;
}

.blogwrapper .line {
		margin-top: 4rem;
		margin-bottom: 2rem;

	    border-bottom: dotted 2px #f5bf42;

}
.blogwrapper article {
	margin: 8rem;
}

@media screen and (max-width: 767px) { /* Media query for phone screens */
	.blogwrapper article {
		margin: 1rem;
	}
	.blogwrapper	.container {
		flex-direction: column; /* Switch to column direction for smaller screens */
        align-items: flex-start; /* Adjust alignment for better display */
    }

	.blogwrapper    .container div {
        margin: 0; /* Remove margin for better layout on smaller screens */
    }

	.blogwrapper    .image {
        min-width: auto; /* Adjust width to fit the screen */
    }
}

		</style>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

                            {% include "src/_components/header.njk" %}
							<div class="blog-wrapper">
							<!-- Content -->
							<article>
								
								<div class="container" style="margin-top:5rem;">
									<span class="image main">
										<img src="{{ thumbnail }}" alt="{{title}}" style="padding: 2%; border-radius: 10%;"/>
									</span>
									<div>
										<header class="main">
											<h1>{{ title }}</h1>
										</header>
										<span> {{date |  customDateFormat("medium")}} </span><br><br>

									</div>
								</div>
								
								
								
								<div class="line"></div>
								<div class="content"> {{content | safe}}</div>
								
								<button style="margin-bottom: 2rem;" onclick="history.back()">Go Back</button>
								
								<div class="posts">
									{% set count = 0 %}
									{% for post in collections.blogPosts | reverse %}
									{% if count < 4 and post.data.tags.includes("adoption")%}
									  <article>
									  <a href="{{ post.url }}" class="image" style="max-height: 40%;">
										<img src="{{ post.data.thumbnail }}" aria-label="{{post.data.title}}">
									  </a>
									  <span style="font-size: 16px; color:#4a4a4a67">
										{{ post.data.date | customDateFormat("medium") }}
									
										</span>
									  <h3 style="font-size: 22px;">{{ post.data.title }}</h3>
									  <p>
										{{post.data.excerpt | truncate(140)}}
									  </p>
									  <ul class="actions">
									  
										<li><a href="{{ post.url }}" aria-label="Read article {{post.data.title}}" style=" font-size: 16px; color: #FF4564">Read Now</a></li>
									  </ul>
									  </article>
									  {% set count = count + 1 %}
									{% endif %}
									{% endfor %}
								  </div>
								</article>
								</div>
						</div>
					</div>

					{% include "src/_components/sidebar.njk" %}

			</div>

		<!-- Scripts -->
			
		{% include "src/_components/rawscripts.njk" %}



	</body>
</html>