---

---
<html>
	<head>
		<title> Brighter Adoptions</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

                            {% include "src/_components/header.njk" %}

							<!-- Content -->
								<article>
<!-- 
    <span class="image main">
        <img src="{{ page.image }}" alt="" />
    </span> -->
									<header class="main">
										<h1>{{ post.data.title }}</h1>
									</header>
									<div> {{content | safe}}</div>
								
								</article>

						</div>
					</div>

					{% include "src/_components/sidebar.njk" %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>