---

---
<html>
	<head>
		<title> Brighter Adoptions</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
		<link rel="stylesheet" href="/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

                            {% include "src/_components/header.njk" %}

							<!-- Content -->
								<article>

									<button style="margin-top: 20px" onclick="history.back()">Go Back</button>

									<span class="image main">
										<img src="{{ image }}" alt="" style="max-height: 20rem; margin-top: 20;"/>
									</span>

									<header class="main">
										<br>
										<h3>{{ title }}</h3 style="padding: 10%;">
									</header>

									<div> {{content | safe}}</div>
								
								</article>

						</div>
					</div>

					{% include "src/_components/sidebar.njk" %}

			</div>

		<!-- Scripts -->
			
			<script src="/jquery.min.js"></script>
			<script src="/browser.min.js"></script>
			<script src="/breakpoints.min.js"></script>
			<script src="/util.js"></script>
			<script src="/main.js"></script>


	</body>
</html>