<!DOCTYPE HTML>
<!--
 -->
<html lang="en">
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="robots" content="all">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="/assets/css/main.css">	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							{% include "./_components/header.njk" %}

							<!--CONTENT-->
							{%include "./_components/aboutushead.njk"%}
							
							{%include "./_components/ourteam.njk"%}
							{# <header class="major">
								<h3>More About Us</h3>
							</header>
							
						 <div class="row">
								<div class="col-6 col-12-small">
									<h3>Sem turpis amet semper</h3>
									<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
								</div>
								<div class="col-6 col-12-small">
									<h3>Magna odio tempus commodo</h3>
									<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing integer semper orci eget. Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan.</p>
								</div>
								<!-- Break -->
								<div class="col-4 col-12-medium">
									<h3>Interdum sapien gravida</h3>
									<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
								</div>
								<div class="col-4 col-12-medium">
									<h3>Faucibus consequat lorem</h3>
									<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
								</div>
								<div class="col-4 col-12-medium">
									<h3>Accumsan montes viverra</h3>
									<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
								</div>
							</div> #}
							<br>

							<!--END CONTENT-->
						</div>
					</div>

					{% include "./_components/sidebar.njk" %}
					{% include "./_components/callnow.njk" %}


			</div>

		<!-- Scripts -->					
		
		{% include "./javascript.njk" %}


	</body>
</html>