<!DOCTYPE HTML>
<!--
 -->
<html lang="en">
	<head>
		<title>Brighter Home</title>
		<meta charset="utf-8" />
		<meta name="robots" content="all">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="/assets/css/main.css">	</head>
<style>

.image-container {
	display: flex;
		justify-content: space-around;
}

.image-container img {
	width: 70%;
	height: auto;
}

  .call-button {
	width: 160px;
    display: flex;
    align-items: center;
    padding: 1px 12px 0px;
	border: 3px solid #F5BF50;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5 rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.call-button i {
    margin-right: 10px;
}

.call-button:hover {
    background-color: #c9ffcb;
    color: #fff;
}

#banner .content {
	width: 100%
}

</style>
<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							{% include "./_components/header.njk" %}


							<!-- Banner -->
							<section id="banner">
								<div class="content-container">
									<div class="content">
										<header>
											<h1>We are excited to meet you.<br /></h1>
											<p>We are a licensed child placing agency for expectant moms</p>
										</header>
										<p>Brighter Adoptions has served hundreds of clients. We feel a great sense of responsibility to help the women who come to us have the best experience possible and find the perfect family for their unborn child.<br><br>We are ready to help.
										<span style="font-size: 30px; margin-top: 0px;">

										</span> </p>
										
										<div class="actions">
											<a class="call-button" onclick="openModal()">
												<i class="fas fa-phone-alt"></i>
												Call or Text
											</a>
										</div> 
									</div>
								</div>
								<span class="image object">
									<img src="/assets/images/pic300.jpg" alt="two women holding a child" />
								</span>
							</section>

							<section>
								{% include "./_components/spinninglogos.njk" %}

							</section>
							<!-- Section -->
								<section>
									<header class="major">
										<h2>More About Us</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon solid fa-heart"></span>
											<div class="content">
												<h3>Emotional Support</h3>
												<p>Adoption is not easy. We have licensed social workers and mental health profesionals that will support you through the adoption process.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-wallet"></span>
											<div class="content">
												<h3>Financial Support</h3>
												<p>We provide a monthly living expense to our mothers to ensure all your needs are met during your stay.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-couch"></span>
											<div class="content">
												<h3>Housing Support</h3>
												<p>Avoid worrying about rental costs. We have dozens of apartments available so you and your family can feel comfortable during your stay.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-solid fa-hospital"></span>
											<div class="content">
												<h3>Medical Expenses</h3>
												<p>We have an amazing network of doctors and physicians and provide world-class medical services at no cost to you.</p>
											</div>
										</article>
									</div>
								</section>

								<section>

									{% include "./_components/contactus.njk" %}
								</section>

									<!-- Section -->
									<section>
										<header class="major">
										  <h2>Read our thoughts</h2>
										</header>
										<div class="posts">
										  {% set count = 0 %}
										  {% for post in collections.blogPosts | reverse %}
											{% if count < 4 and post.data.tags.includes("featured")%}
											  <article>
												<a href="{{ post.url }}" class="image" style="max-height: 40%;">
												  <img src="{{ post.data.thumbnail }}" aria-label="{{post.data.title}}">
												</a>
												<h3>{{ post.data.title }}</h3>
												<p>{{ post.data.excerpt }}</p>
												<ul class="actions">
												
												  <li><a href="{{ post.url }}" aria-label="Read article {{post.data.title}}" class="button ">Read Now</a></li>
												</ul>
											  </article>
											  {% set count = count + 1 %}
											{% endif %}
										  {% endfor %}
										</div>
									  </section>
									  


						</div>
					</div>

					{% include "./_components/sidebar.njk" %}
					{% include "./_components/callnow.njk" %}
			</div>

		{% include "./javascript.njk" %}
		
		{# <script src= "/jquery.min.js"></script>
		<script src= "/breakpoints.min.js"></script>
		<script src= "/browser.min.js"></script>
		<script src= "/main.js"></script>
		<script src= "/util.js"></script> #}

	</body>
</html>