---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
        xmlns:news="http://www.google.com/schemas/sitemap-news/0.9"
        xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
  
  <!-- Homepage -->
  <url>
    <loc>https://brighteradoption.com/</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    <image:image>
      <image:loc>https://brighteradoption.com/assets/images/Logo.jpg</image:loc>
      <image:title>Brighter Adoptions - Licensed Adoption Agency in Utah</image:title>
      <image:caption>Professional adoption services for expectant mothers</image:caption>
    </image:image>
  </url>
  
  <!-- About Page -->
  <url>
    <loc>https://brighteradoption.com/about/</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Blog Listing -->
  <url>
    <loc>https://brighteradoption.com/blog/</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <!-- Counseling Services -->
  <url>
    <loc>https://brighteradoption.com/counseling/</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Housing Program -->
  <url>
    <loc>https://brighteradoption.com/housing/</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Expectant Mothers Services -->
  <url>
    <loc>https://brighteradoption.com/Expectantmothers/</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  
  <!-- Adoptive Families -->
  <url>
    <loc>https://brighteradoption.com/adoptivefamilies/</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  
  <!-- Blog Posts with Enhanced Metadata -->
  {% for post in collections.blogPosts %}
  <url>
    <loc>https://brighteradoption.com{{ post.url }}</loc>
    <lastmod>{{ post.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
    {% if post.data.image %}
    <image:image>
      <image:loc>https://brighteradoption.com{{ post.data.image }}</image:loc>
      <image:title>{{ post.data.title }} - Brighter Adoptions Blog</image:title>
      <image:caption>{{ post.data.description or post.data.title }}</image:caption>
    </image:image>
    {% endif %}
    {% if post.data.news %}
    <news:news>
      <news:publication>
        <news:name>Brighter Adoptions Blog</news:name>
        <news:language>en</news:language>
      </news:publication>
      <news:publication_date>{{ post.date | dateIso }}</news:publication_date>
      <news:title>{{ post.data.title }}</news:title>
      <news:keywords>adoption, birth mothers, pregnancy, adoption agency, Utah</news:keywords>
    </news:news>
    {% endif %}
  </url>
  {% endfor %}
  
</urlset> 