<!-- Blog Preview Section -->
<section>
	<header class="major">
		<h2>Read our thoughts</h2>
	</header>
	<div class="posts">
		{% set count = 0 %}
		{% for post in collections.blogPosts | reverse %}
		{% if count < 4 and post.data.tags.includes("featured")%}
			<article>
				<a href="{{ post.url }}" class="image">
					<img src="{{ post.data.thumbnail }}" alt="{{post.data.title}}">
				</a>
				<span class="post-date">
					{{ post.data.date | customDateFormat("medium") }}
				</span>
				<h3>{{ post.data.title }}</h3>
				<p>
					{{post.data.excerpt | truncate(140)}}
				</p>
				<ul class="actions">
					<li><a href="{{ post.url }}" aria-label="Read article {{post.data.title}}">Read Full Article →</a></li>
				</ul>
			</article>
			{% set count = count + 1 %}
		{% endif %}
		{% endfor %}
	</div>
</section>