<style>


.faq-container{
  padding: 2rem;
  border: rgb(255, 219, 127) 2px solid;
}

.faq-container h1{
  color: #fff;
  text-align: center;
}

.faq-container p{
font-size: 1.4rem;
}
details{
  background-color: #00000000;
  color: #000000;
  font-size: 1.5rem;
}

summary {
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after{
  content: "\00D7";
}

details[open] div{
  padding: .5em 1em;
}


</style>

<header class="major">
  <h2>Some Common Misconceptions</h2>
</header>
<div class="faq-container">
	{% for post in collections.faq %}
      <details>
      <summary>{{post.data.title}}</summary>
      <div>
        {{post.content | safe}}
            </div>
    </details>
    {% endfor %}
</div>
