<style>
  .hero-heading-center {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.youtube-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .centered-div {
            text-align: center;
        }

        .youtube-embed {
            width: 300px; /* Adjust the width as needed */
            height: 600px; /* Adjust the height as needed */
        }

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px, .centered-heading.margin-bottom-32px-copy {
  margin-bottom: 32px;
}

.where {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 134px;
  display: flex;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.margin-bottom-24px {
  text-align: center;
  margin-top: 51px;
  margin-bottom: 24px;
  padding-left: 39px;
  padding-right: 37px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.margin-bottom-0px {
  text-align: center;
  margin-top: 51px;
  padding-left: 39px;
  padding-right: 37px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.button-primary {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.image {
  height: auto;
  max-width: 50%;
  aspect-ratio: auto;
  flex: 1;
  line-height: 39px;
  display: block;
}

.text-block {
  text-align: justify;
  margin-top: 28px;
  padding-top: 1px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  text-decoration: none;
}

.text-span-2 {
  font-size: 15px;
  line-height: 15px;
}

.bold-text {
  text-align: right;
}

.quick-stack {
  max-width: 80%;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "Area";
  margin: 30px 56px 20px;
}

.heading {
  text-align: center;
}

.div-block {
  order: -1;
  align-self: center;
}

.heading-2 {
  text-align: center;
}

.div-block-2 {
  display: flex;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .where {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading-center {
    padding: 60px 15px;

  .container {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .image {
    max-width: 100%;
  }

  .text-block {
    margin-top: 57px;
  }

  .text-span {
    text-decoration: underline;
  }

  .text-span-2 {
    text-align: center;
    border-radius: 0;
    flex-flow: wrap;
    align-items: baseline;
    display: flex;
    position: static;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .div-block-2 {
    flex-direction: column;
    max-width: 100%;
  }

  .image-2 {
    display: block;
  }
}
}

</style>


<section class="hero-heading-center">
  <div class="container">
    <h1 class="centered-heading margin-bottom-32px-copy">Brighter Housing for Expectant Mothers</h1>
    <div class="where">
      <div class="hero-split">
        <p class="margin-bottom-24px">At Brighter Adoptions we want to help our expectant mothers have a safe and comfortable place to live throughout the adoption process.  Brighter Adoptions has multiple apartments available for those who need a safe and stable living environment. If you have children coming with you, you are able to enroll them in the local public schools during your stay.<br><br><br><br></p>
        <a href="#" class="button-primary w-button">Get Help Now</a>
      </div>
      <div class="hero-split"><img src="/assets/images/pool.png" style="max-width: 100%;"></div>
    </div>
  </div>
  <div class="div-block-2">
    <div class="div-block">
      <h1 class="heading-2">A Place To Call Your Own</h1>
      <p class="margin-bottom-12px">We have multiple one-bedroom, two-bedroom and three-bedroom apartment units available for our clients to stay in depending on your needs. All our apartments are in the heart of Layton, Utah, a suburb 20 miles north of Salt Lake City. <br><br>Our apartments are in a safe and convenient area for our clients; with a shopping mall, Target, Dollar Tree, 7-11, restaurants and public schools within walking distance. Free public transportation, and Lyft and Uber are available. <a href="http://localhost:6269/contact/"><strong><br></strong></a><br><br><br></p>
      <div class="youtube-container">
        <div class="centered-div">
            <iframe class="youtube-embed" width="560" height="315" src="https://youtu.be/voDVb4a2R3Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    </div>
  </div>
</section>

